<div class="row" style="margin-top: 58px;">
  <div class="col-12 col-md-12">
    <img src="../../assets/imgs/Slider_EN.jpg" class="w-100" alt="Banner">
  </div>
</div>
<div class="container">
  <h2 class="mt-2 pt-2 pb-2 about">About us</h2>
  <p class="text-dark">Clinical Topics in Medicine</p>
  <p class="mt-2">
    “Clinical Topics in Medicine” is the new online journal that updates the medical profession on the latest research
    and advances, presented in international scientific conferences, meetings, symposia, posters and medical news
    worldwide.

    EPHM consolidates its position in the medical communications and dissemination field.

    “Clinical Topics in Medicine”, is a result of more than 30 years of experience in the field of medical
    communication, and an important tool for fast and accurate update on a specific clinical-therapeutic issue,
    diagnostics, pharmacoeconomics for pharmaceutical companies and the medical-scientific community.
  </p>
  <p>
    “Clinical Topics in Medicine” is the new online journal that updates the medical profession on the latest research
    and advances, presented in international scientific conferences, meetings, symposia, posters and medical news
    worldwide.

    EPHM consolidates its position in the medical communications and dissemination field.

    “Clinical Topics in Medicine”, is a result of more than 30 years of experience in the field of medical
    communication, and an important tool for fast and accurate update on a specific clinical-therapeutic issue,
    diagnostics, pharmacoeconomics for pharmaceutical companies and the medical-scientific community.
  </p>
  <p class="mb-3 pb-2 border-bottom">
    “Clinical Topics in Medicine” is the new online journal that updates the medical profession on the latest research
    and advances, presented in international scientific conferences, meetings, symposia, posters and medical news
    worldwide.

    EPHM consolidates its position in the medical communications and dissemination field.

    “Clinical Topics in Medicine”, is a result of more than 30 years of experience in the field of medical
    communication, and an important tool for fast and accurate update on a specific clinical-therapeutic issue,
    diagnostics, pharmacoeconomics for pharmaceutical companies and the medical-scientific community.
  </p>
  <div class="row  pt-2">
    <div class="col-12 col-md-12">
      <a [routerLink]="['/inicio']" class="text-danger"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;Volver</a>
    </div>
  </div>
</div>