<div class="row" style="margin-top: 58px;">
    <div class="col-12 col-md-12">
        <img src="../../assets/imgs/Slider_EN.jpg" class="w-100" alt="Banner">
    </div>
</div>
<div class="container-fluid pb-3 mt-5 ml-5" *ngIf="posts">
    <div class="card border-0 mb-2 w-75 pr-5 mr-5" *ngFor="let post of posts | paginate: config">
        <div class="row no-gutters mt-3">
            <div class="col-md-4 py-0 px-0 post-image">
                <img src="{{url + 'post/image/' + post.image}}" [routerLink]="['/post', post.id]" class="card-img w-100 imagen" alt="Image">
            </div>
            <div class="col-md-8 border-0 ">
                <div class="card-body pt-0 border-0 ">
                    <h5 class="card-title tituloEnlace" [routerLink]="['/post', post.id]">{{post.title}}</h5>
                    <p class="card-text" [innerHtml]="post.content + '...'"></p>
                    <a [routerLink]="['/post', post.id]" class="text-danger font-weight-light"> Continue reading...</a>
                    <p class="card-text"><small class="text-secondary font-italic">Actualizado: {{post.updated_at}}</small></p>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls [responsive]="responsive" (pageChange)="pageChanged($event)" class="text-center mb-5">
    </pagination-controls>

</div>
